[package]
name = "invar-dsl-parser"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
serde.workspace = true
serde_json.workspace = true
pest.workspace = true
pest_derive.workspace = true
invar-ir = { path = "../ir" }
invar-core = { path = "../core" }

[dev-dependencies]
